{% extends 'layout.html'%} {% block body %}

<div class="row">
<div class="col-md-6 mx-auto">
<div class="card card-body mt-4 rounded rounded-2">
  <form action="/update/{{contact.3}}" method="POST">
    <h2 class="mt-2 mb-3 ms-4">Edit contact</h2>
    <div class="form-group input-group mb-4 ">
    <input
      type="text"
      maxlength="50"
      name="fullname"
      placeholder="fullname"
      value="{{ contact.0 }}"
      required
      class="form-control input-group-text  rounded rounded-3 shadow-sm"
    />
    </div>
    <div class="form-group input-group mb-4">
    <input
      type="email"
      name="email"
      placeholder="email"
      value="{{ contact.1 }}"
      required
      class="form-control input-group-text rounded rounded-3 shadow-sm"
    />
    </div>
    <div class="form-group input-group mb-4">
    <input
      type="text"
      name="phone"
      placeholder="phone"
      value="{{ contact.2 }}"
      required
      class="form-control input-group-text rounded rounded-3 shadow-sm"
    />
    </div>
    <div class="form-group mb-4">
    <button class="rounded rounded-3 btn btn-info m-auto form-control shadow" type="submit">Update</button>
    </div>
  </form>
  <button class="mt-1 mb-2 btn  btn-primary rounded rounded-4 shadow"><a href="/" class="text-white text-decoration-none">Back</a></button>
</div>
</div>
</div>

{% endblock %}
