<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD CONTACT</title>
</head>
<body>
{% with messages = get_flashed_messages()   %}
{% if messages %}
{% for message in messages %}
<p id="notifice">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form action="/add_contact" method="POST">
    <h2>Welcome</h2>
    <input type="text" maxlength="50" name="fullname" placeholder="fullname">
    <input type="email" name="email" placeholder="email">
    <input type="tel" name="phone" placeholder="phone">
    <button type="submit">Save</button>
</form>

<table>
    <thead>
    <tr>
        <td>Fullname</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Actions</td>
    </tr>
    </thead>
    <tbody>
      {% for contact in contacts %}
      <tr>
      <td> {{ contact.0 }}</td>
      <td> {{ contact.1 }}</td>
      <td> {{ contact.2 }}</td>
          <td><a href="/edit/{{contact.3}}">Edit</a>
              <a href="/delete/{{contact.3}}">Delete</a>
          </td>
      </tr>
      {% endfor  %}
    </tbody>
</table>

</body>
</html>