<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
    <link rel="icon" href="{{ url_for('static',filename='css/chilli.png') }}">
    <title>Flask Crud</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand " href="/">APP CONTACT</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <div class="container">{% block body %} {% endblock %}</div>
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
  </body>
</html>
